body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
h1, h3 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 92%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    font-size: 15px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
button:hover {
    background-color: #0056b3;
}
#qr-code {
    text-align: center;
    width: 300px;
    margin-top: 10px;
}
.download-buttons button {
    width: 48%;
}
.download-buttons {
    display: flex;
    justify-content: space-between;
}

#type {
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    font-size: 12px;
    text-align: left;
    background-color: #007BFF;
    color: #fff;
    border: 0.1px solid #007BFF;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
    
}
#type:hover {
    background-color: #0056b3;
}

select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 24 24%22 fill%3D%22none%22 stroke%3D%22%23000000%22 stroke-width%3D%222%22 stroke-linecap%3D%22round%22 stroke-linejoin%3D%22round%22%3E%3Cpolyline points%3D%226 9 12 15 18 9%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
}

/* For narrow down arrow */
select::after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    right: 15px;
    top: 15px;
    pointer-events: none; /* Ensure clicks go to the select, not the arrow */
    color: #fff;
    font-size: 12px;
}
